.all {
  margin-top: 40px;
  background-color: gray;
  text-decoration-color: white;
  margin: auto;
  width: 50%;
}

.part1 {
  text-align: center;
  border-color: black;
  border: 2px;
  padding: 2px;
}
